img {
  width: 270px;
  position: absolute;
  bottom: 0;
  left: 56px;
}

.info {
  position: absolute;
  top: 150px;
  left: 450px;
}

h1 {
  margin-bottom: 104px;
  font-size: 64px;
}

p {
  font-size: 48px;
}

p:first-of-type {
  margin-bottom: 126px;
}
